.navbar {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  padding: 0px 15px;
}

.navbar-brand img {
  height: 150px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #48f55680;
  border-color: #4caf50;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
