.homePage{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.boxCardBooks{
    padding: 10px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 10px;
}
.pageIndicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.pageIndicator button {
    background-color: #807878;
    color: #fff;
    border: none;
    box-shadow: 2px 2px white;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
}

.pageIndicator button:hover {
    background-color: #555;
}

.pageIndicator button.active {
    background-color: #666;
}