.ctnSearchBar{
    display: flex;
    gap: 10px;
}
.ctnSearchBar input{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;

    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
}
.ctnSearchBar button{
    background: rgb(0, 98, 255);
    padding: 2px 7px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    transition: all .3s ease;
    text-rendering:optimizeSpeed;
}
.ctnSearchBar button:hover{
    transform: scale(1.03);
}