.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(56, 46, 46, 0.1);
}
.h1{
    font-size: 20px;
    color: #190b99;
    text-shadow: 1px 1px rgb(88, 81, 81);
    font-family: Cambria;
    background-color: #9999998e;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-icon {
    font-size: 1.5rem;
    color: #999999;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #388e3c;
}

.button:active {
    background-color: #1b5e20;
}