.carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }
  
