.profile_zlksadaskj{
    display: flex;
gap:  0.5rem;

    /* max-height: 20px;
    padding: 7px 10px; */
    
    background: rgba(139, 171, 140, 0.34);
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.profile_zlksadaskj img:nth-child(1){
    width: 30px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
.profile_zlksadaskj p:nth-child(2){
    font-size: 0.9rem;
    white-space: nowrap;

    padding: 0;
    margin: auto 0;
}