.profile_zlksadaskj{
    display: flex;
    gap: 5px;
    width: 130px;
    padding: 5px 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.profile_zlksadaskj img:nth-child(1){
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
.profile_zlksadaskj p:nth-child(2){
    font-size: 1rem;
    white-space: nowrap;
    margin: auto 0;
}