.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    background-color: #70a57b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0px 5px 5px 5px ;

    position: relative;
}

@media (max-width: 900px) {
    .header {
        padding: 10px;
    }
}

.navbar-salir {
    position: absolute;
    right: 1%;
    top: 5%;
    border-radius: 2rem;
   
}

.navbar-left {
    display: grid;
    grid-template-columns: .2fr .5fr .3fr;
    align-items: center;
}


@media (max-width: 1000px) {
    .navbar-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.select_lkow{
    
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    margin: 10px 8px;
    
}

.filtros_posjqlk{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.filtros_posjqlk select{
    max-width: 150px;
}

.filtros_posjqlk button{
    background: rgba(255, 255, 255, 0.358);
    border-radius: 10px;
    
    padding: 5px 10px;
    transition: all .1s ease;
    font-size: .8rem;
}
.filtros_posjqlk button:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.filtros_posjqlk .clear_button{
    background: rgba(255, 255, 255, 0.358);
}

@media (min-width: 200px) {
    .navbar-logo {
        height: 120px;
    }
}

.navbar-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-center ul{
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-center ul a:hover{
    text-decoration: none;
    color: inherit;
}
.navbar-center ul a li{
    position: relative;
    list-style: none;
    
    padding: none;
    margin: none;
    text-align: center;

    padding: 2px 10px;
    transition: all .3s ease;
}
.navbar-center ul a li::before{
    background: #21612e;
    position: absolute;
    content: "";
    
    width: 0%;
    height: 2px;
    border-radius: 2px;
    
    bottom: 0;
    left: 0;
    transition: width .3s ease;
}
.navbar-center ul a li:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}
.navbar-center ul a li:hover::before{
    width: 100%;
}
.navbar-center ul a li.create_book_aosdhas{
    /* background: #5f8467; */
    /* color: white;
    font-weight: bold; */
    border-radius: 5px 5px 0 0;
}
.navbar-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
}

.navbar-crear {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    white-space:nowrap;
 
    color: rgb(235, 226, 226);
    font-size: 0.8rem;
    cursor: pointer;

    background: red;
}

.navbar-right {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;

}

.navbar-action {
    color: #7e7a7a;
    font-size: 1rem;
    cursor: pointer;
}

.navbar-cart {
    position: relative;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    color: #333333;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 0.75rem;
}

/* Reglas adicionales para hacerlo responsive */

@media only screen and (max-width: 599px) {
    .header {
        padding: 10px;
    }

    .navbar-left {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .navbar-logo {
        height: 70px;
        margin-bottom: 10px;
    }
    .navbar-center{
        gap: .3rem;
        
    }
    .navbar-center *{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 420px) {
    .header{
        font-size: .8rem;
    }
    .filtros_posjqlk select{
        width: fit-content;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .header {
        padding: 10px;
    }

    .navbar-left {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .navbar-logo {
        height: 90px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1299px) {
    .header {
        padding: 10px 50px;
    }

    .navbar-left {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .navbar-logo {
        height: 100px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1300px) {
    .header {
        padding: 10px;
    }

    .navbar-left {
        grid-template-columns: .2fr .5fr .3fr;
        justify-content: initial;
    }

    .navbar-logo {
        height: 120px;
        margin-bottom: 0;
    }
}